

.cod {
overflow:auto;width:250px;height:260px;
font-family: "Consolas", "Courier New", Courier, mono, serif;
color:#ffffff;
margin : 15px 35px 15px 15px;
padding : 15px 5px 10px 165px;
clear : both;
list-style-type : none;
background : url(http://3.bp.blogspot.com/-hSZRcldP5rw/T0gbz2Ll2aI/AAAAAAAAA7Q/jCgYBy1hPNY/s320/teacher.png) repeat-y top left;
border : 1px solid #ffffff;
-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition-duration:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-border-radius:3px;-moz-border--moz-border-radius: 23px 20px 20px 20px;border-radius: 23px 20px 20px
}
.cod:hover{
background : url(http://4.bp.blogspot.com/-8R070fFmCB8/T0geYWk9tqI/AAAAAAAAA7Y/3vlqr7adZMg/s320/HOVER+TEACHER.png) repeat-y top left;
color:#F1F1F1;
border : 1px solid #ffffff;
-webkit-box-shadow: 0px 0px 10px  rgba(0, 0, 0, .3);
-moz-box-shadow: 0px 0px 10px  rgba(0, 0, 0, .3);
box-shadow: 0px 0px 10px  rgba(0, 0, 0, .3);
}



